@{
    Layout = Url.ThemedContent("~/Views/Shared/_Layout.cshtml");
}
<div class="span12">
    @{ Html.DroppableZone("BeforeContent").Title("Before Content").Render(); }
    @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }
    @RenderBody()
    @{ Html.DroppableZone("AfterContent").Title("After Content").Render(); }
</div>
