@{
    Layout = Url.ThemedContent("~/Views/Shared/_Layout.cshtml");
}
<section id="main-content" class="col-md-12">
    @Html.Partial("Zones/BeforeContent")
    @RenderBody()
    @Html.Partial("Zones/AfterContent")
</section>
