@{
    Html.DroppableZone("BeforeContent").Title("Before Content").Render();
    Html.RenderPartial("LayoutPartials/Breadcrumb");
    var showPageTitle = true;
    if (Content.Current.Item is N2Bootstrap.Library.Models.ContentPage)
    {
        showPageTitle = (Content.Current.Item as N2Bootstrap.Library.Models.ContentPage).ShowPageTitle;
    }
}
@if (showPageTitle)
{
    <header class="page-header">
        <h1>@Content.Current.Item.Title</h1>
    </header>
}
