timestamp=12/8/2012 8:58:16 PM
version=1
assembly=753247ac-7af3-4e6b-854d-14b596202252;AjaxMin, Version=4.60.4609.17023, Culture=neutral, PublicKeyToken=21ef50ce11b5d80f
753247ac-7af3-4e6b-854d-14b596202252=System.Object[N2.Engine.ServiceAttribute];none
753247ac-7af3-4e6b-854d-14b596202252=N2.ContentItem;none
753247ac-7af3-4e6b-854d-14b596202252=N2.Plugin.IPluginInitializer;none
753247ac-7af3-4e6b-854d-14b596202252=System.Web.Mvc.IController;none
753247ac-7af3-4e6b-854d-14b596202252=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
753247ac-7af3-4e6b-854d-14b596202252=System.Object[N2.Plugin.IPlugin];none
assembly=f2f8fc3d-6ee3-4901-a8f4-65279415be92;Cassette.Aspnet, Version=2.0.0.17975, Culture=neutral, PublicKeyToken=null
f2f8fc3d-6ee3-4901-a8f4-65279415be92=System.Object[N2.Engine.ServiceAttribute];none
f2f8fc3d-6ee3-4901-a8f4-65279415be92=N2.ContentItem;none
f2f8fc3d-6ee3-4901-a8f4-65279415be92=N2.Plugin.IPluginInitializer;none
f2f8fc3d-6ee3-4901-a8f4-65279415be92=System.Web.Mvc.IController;none
f2f8fc3d-6ee3-4901-a8f4-65279415be92=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
f2f8fc3d-6ee3-4901-a8f4-65279415be92=System.Object[N2.Plugin.IPlugin];none
assembly=6f5971cd-9852-44c3-aa3f-f83692ca75ea;Cassette, Version=2.0.0.17974, Culture=neutral, PublicKeyToken=null
6f5971cd-9852-44c3-aa3f-f83692ca75ea=System.Object[N2.Engine.ServiceAttribute];none
6f5971cd-9852-44c3-aa3f-f83692ca75ea=N2.ContentItem;none
6f5971cd-9852-44c3-aa3f-f83692ca75ea=N2.Plugin.IPluginInitializer;none
6f5971cd-9852-44c3-aa3f-f83692ca75ea=System.Web.Mvc.IController;none
6f5971cd-9852-44c3-aa3f-f83692ca75ea=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
6f5971cd-9852-44c3-aa3f-f83692ca75ea=System.Object[N2.Plugin.IPlugin];none
assembly=d42f0b46-bec4-45d7-aedf-6b11680e42c9;Cassette.Views, Version=2.0.0.17975, Culture=neutral, PublicKeyToken=null
d42f0b46-bec4-45d7-aedf-6b11680e42c9=System.Object[N2.Engine.ServiceAttribute];none
d42f0b46-bec4-45d7-aedf-6b11680e42c9=N2.ContentItem;none
d42f0b46-bec4-45d7-aedf-6b11680e42c9=N2.Plugin.IPluginInitializer;none
d42f0b46-bec4-45d7-aedf-6b11680e42c9=System.Web.Mvc.IController;none
d42f0b46-bec4-45d7-aedf-6b11680e42c9=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
d42f0b46-bec4-45d7-aedf-6b11680e42c9=System.Object[N2.Plugin.IPlugin];none
assembly=8e8fa28d-216a-43ec-8dcb-2258d1f7bf00;ICSharpCode.SharpZipLib, Version=0.86.0.518, Culture=neutral, PublicKeyToken=1b03e6acf1164f73
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Object[N2.Engine.ServiceAttribute];none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.ContentItem;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.Plugin.IPluginInitializer;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Web.Mvc.IController;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Object[N2.Plugin.IPlugin];none
assembly=8e583716-e22a-4328-980f-7d0b436ca8e5;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.ContentItem;N2.ContentItem
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.ContentItem;N2.Edit.CreatorItem
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
8e583716-e22a-4328-980f-7d0b436ca8e5=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
8e583716-e22a-4328-980f-7d0b436ca8e5=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=409c2d21-f833-4296-83a3-3fcd85cc0137;N2.Extensions, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneSearcher
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.N2ControllerFactory
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
409c2d21-f833-4296-83a3-3fcd85cc0137=N2.ContentItem;none
409c2d21-f833-4296-83a3-3fcd85cc0137=N2.Plugin.IPluginInitializer;none
409c2d21-f833-4296-83a3-3fcd85cc0137=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Web.Mvc.IController;none
409c2d21-f833-4296-83a3-3fcd85cc0137=System.Object[N2.Plugin.IPlugin];none
assembly=2c679859-c2de-4db5-874e-78b570999c84;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.Items.ImageSizeCache
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Externals.ExternalItem
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.FileSystem.Items.File
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Security.Items.User
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Security.Items.UserList
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.RootPartBase
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.ActivityPart
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.LanguagesPart
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.RootBase
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.StatisticsPart
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Management.Myself.WizardsPart
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
2c679859-c2de-4db5-874e-78b570999c84=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
2c679859-c2de-4db5-874e-78b570999c84=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
2c679859-c2de-4db5-874e-78b570999c84=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
2c679859-c2de-4db5-874e-78b570999c84=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
2c679859-c2de-4db5-874e-78b570999c84=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.LanguageMenu
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.New
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
2c679859-c2de-4db5-874e-78b570999c84=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=98b9c94d-f238-4748-8a52-30ba0dcd7450;N2.Packaging, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
98b9c94d-f238-4748-8a52-30ba0dcd7450=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
98b9c94d-f238-4748-8a52-30ba0dcd7450=N2.ContentItem;none
98b9c94d-f238-4748-8a52-30ba0dcd7450=N2.Plugin.IPluginInitializer;none
98b9c94d-f238-4748-8a52-30ba0dcd7450=System.Web.Mvc.IController;none
98b9c94d-f238-4748-8a52-30ba0dcd7450=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
98b9c94d-f238-4748-8a52-30ba0dcd7450=System.Object[N2.Plugin.IPlugin];none
assembly=c8cd2f22-4553-47c8-a54e-c52357f5fc15;N2.Razor, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
c8cd2f22-4553-47c8-a54e-c52357f5fc15=System.Object[N2.Engine.ServiceAttribute];none
c8cd2f22-4553-47c8-a54e-c52357f5fc15=N2.ContentItem;none
c8cd2f22-4553-47c8-a54e-c52357f5fc15=N2.Plugin.IPluginInitializer;none
c8cd2f22-4553-47c8-a54e-c52357f5fc15=System.Web.Mvc.IController;none
c8cd2f22-4553-47c8-a54e-c52357f5fc15=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
c8cd2f22-4553-47c8-a54e-c52357f5fc15=System.Object[N2.Plugin.IPlugin];none
assembly=6cdd4217-4826-4278-adf5-97fa2eaa7ff0;N2Bootstrap, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
6cdd4217-4826-4278-adf5-97fa2eaa7ff0=System.Object[N2.Engine.ServiceAttribute];none
6cdd4217-4826-4278-adf5-97fa2eaa7ff0=N2.ContentItem;none
6cdd4217-4826-4278-adf5-97fa2eaa7ff0=N2.Plugin.IPluginInitializer;none
6cdd4217-4826-4278-adf5-97fa2eaa7ff0=System.Web.Mvc.IController;none
6cdd4217-4826-4278-adf5-97fa2eaa7ff0=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
6cdd4217-4826-4278-adf5-97fa2eaa7ff0=System.Object[N2.Plugin.IPlugin];none
assembly=79f48404-35b7-4de2-899d-3b78d2e3eb1f;N2Bootstrap.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Object[N2.Engine.ServiceAttribute];N2Bootstrap.Library.Services.ContainerWrappableDefinitionAppender
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.ModelBase
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.PartModelBase
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.Columns
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.Columns+Column
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.PageModelBase
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.ContentPage
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.FreeForm
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.Hero
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.LanguageIntersection
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.SliderPart
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.StartPage
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.Tabs
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.Tabs+Tab
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.ContentItem;N2Bootstrap.Library.Models.TextPart
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.Plugin.IPluginInitializer;N2Bootstrap.Library.Starter
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Web.Mvc.IController;N2Bootstrap.Library.Controllers.LanguageIntersectionController
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Web.Mvc.IController;N2Bootstrap.Library.Controllers.TemplatesControllerBase`1
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Web.Mvc.IController;N2Bootstrap.Library.Controllers.SharedPagesController
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Web.Mvc.IController;N2Bootstrap.Library.Controllers.SharedPartsController
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Web.Mvc.IController;N2Bootstrap.Library.Controllers.StartPageController
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2Bootstrap.Library.Adapters.ModelAdapter
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2Bootstrap.Library.Adapters.ModelPartsAdapter
79f48404-35b7-4de2-899d-3b78d2e3eb1f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2Bootstrap.Library.Adapters.ModelMvcAdapter
79f48404-35b7-4de2-899d-3b78d2e3eb1f=System.Object[N2.Plugin.IPlugin];none
