<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    @{
        Html.RenderPartial("LayoutPartials/Head");
        if (IsSectionDefined("head"))
        {
            @RenderSection("head")
        }
    }
</head>
<body>
    @{ Html.ControlPanel().Configure(cp => { cp.IncludeJQuery = false; }).Render(); }
    <div id="top">@{ Html.RenderPartial("LayoutPartials/Top"); }</div>
    <div id="header">@{ Html.RenderPartial("LayoutPartials/Header"); }</div>
    <div id="main-before">@{ Html.DroppableZone("BeforeMain").Title("Before Main").Render(); }</div>
    <div id="main">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="main-after">@{ Html.DroppableZone("AfterMain").Title("After Main").Render(); }</div>
    <div id="footer">@{ Html.RenderPartial("LayoutPartials/Footer"); }</div>
</body>
</html>
