<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true" />
		</sectionGroup>
	</configSections>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      
    <expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2" />
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2" />
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2" />
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2" />
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2" />
			</expressionBuilders></compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        
        
        
      <add namespace="N2.Linq" /><add namespace="N2.Web.Mvc.Html" /></namespaces>
      
      
    <controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
			</controls><tagMapping>
				<add tagType="System.Web.UI.HtmlControls.HtmlForm" mappedTagType="N2.Web.UI.WebControls.RawUrlForm" />
			</tagMapping></pages>
    <authentication>
      <forms loginUrl="N2/Login.aspx">
        <credentials passwordFormat="SHA1">
          <user name="admin" password="19485e369c691fa8ece1fabc8a6ceabfb5666b79" />
        </credentials>
        
      </forms>
    </authentication>
    <!-- 
		These membership and role providers store their data as content items. You can also use the forms authentication 
		credentials only (then remove these sections) or the default ASP.NET providers (search for asp.net membership) 
		--><membership defaultProvider="ContentMembershipProvider">
      
    <providers>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" passwordFormat="Hashed" />
			</providers></membership>
    <roleManager enabled="true" defaultProvider="ContentRoleProvider">
      
    <providers>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
			</providers></roleManager>
    <profile defaultProvider="ContentProfileProvider">
      
    <providers>
				<add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
			</providers></profile>
    <httpModules>
      
      
    <add name="n2.initializer" type="N2.Web.InitializerModule, N2" /></httpModules>
    <httpHandlers>
      
      <add path="*.less" verb="GET" type="N2Bootstrap.Library.Cassette.Less.ThemedLessHandler, N2Bootstrap.Library" />
    </httpHandlers>
    
  <siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" />
			</providers>
		</siteMap><httpRuntime requestValidationMode="2.0" /></system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      
      
    <add name="n2.initializer" type="N2.Web.InitializerModule, N2" /></modules>
    <handlers>
      
      
      
      
      
      
      
      <add name="dotless" path="*.less" verb="GET" type="N2Bootstrap.Library.Cassette.Less.ThemedLessHandler, N2Bootstrap.Library" resourceType="File" preCondition="" />
    </handlers>
    
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <!-- If you install a database from scratch you'll need to insert some required pages. 
      This can be done by the web based installer located at http://yoursite/n2/installation/ -->
    <edit>
      
      <tinyMCE cssUrl="/defaultcss" enabled="true" />
      
      
      
      
      
    </edit>
    
    
    
  <host rootID="1" startPageID="2" multipleSites="true"><vpp><zips><add name="n2.management" observedPath="~/N2/" filePath="~/N2/N2.zip" /></zips></vpp></host><engine><errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" /><globalization enabled="true" /></engine><database connectionStringName="N2CMS" caching="true"></database></n2>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dotless.ClientOnly" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.5100.19196" newVersion="5.6.5100.19196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
<connectionStrings>
		<!-- Please not that you need to configure another database and remove \bin\system.data.sqlite.dll for MEDIUM TRUST -->
		<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />
	</connectionStrings></configuration>